.navbar {
    background-color: #4169E1;
}

.navbar-brand {
    font-size: 28px;
    font-weight: 800;
    -webkit-text-stroke: 0.04rem black;
    line-height: 80%;
    font-family: sans-serif;
}

.nav-link {
    color: #fee;
}

.nav-link:hover {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}

.btn-custom {
    color: #fff;
}