.navbar {
    background-color: #4169E1;
}

.navbar-brand {
    font-size: 28px;
    -webkit-text-stroke: 0.02rem black;
}

.nav-link {
    color: #fee;
}

.nav-link:hover {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}

.btn-custom {
    color: #fff;
}