.navbar {
  background-color: #4169e1;
}

.logo {
  width: 200px;
  height: auto;
}
.navbar-brand {
  font-size: 28px;
  font-weight: 800;
  -webkit-text-stroke: 0.04rem black;
  line-height: 80%;
  font-family: sans-serif;
}

.nav-link {
  color: #fff;
  font-weight: 600;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #fff;
  text-shadow: 0 0 1px #fff;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
.mr-25{
  margin-right: 25px;
}

.cursor-pointer{
  cursor: pointer;
}
@media (max-width: 768px) {
  .nav-item {
    margin: 0;
  }
  .mr-25{
    margin-right: 0;
  }
}
