<div class="services">
    <div class="container">
        <div class="title container text-center p-3 ">
            <h1 class="m-0">{{ "SERVICES.TITLE" | translate}}</h1>
            <div class="line"></div>
        </div>
    
        <div class="d-flex justify-content-evenly flex-wrap">
            <div class="card service-card" *ngFor="let service of services">
                <div class="card-img-holder">
                    <img class="card-img-cap" [src]="service.image" alt="Card image cap" />
                </div>
                <div class="card-body">
                    <div class="card-content">
                        <h3 class="card-title">{{ service.title | translate }}</h3>
                        <p class="card-text">{{ service.description | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 