<div class="hero">
    <img src="../../../assets/hero-img.jpg" alt="Image of a desktop" class="hero-image">
    <div class="hero-content">
        <h1 class="headline">
            Get More Clients<br>
            Earn More Money<br>
            Guaranteed
        </h1>
        <br>
        <p class="subheadline">Receive professional marketing services from our local agency. <br>
            Whether you want to sell a product, a service or improve your business's turnover, <br>
            we will create a tailor-made advertising strategy that guarantees results for you.
        </p>
        <br>
        <a href="#" class="btn hero-button">Get Started Now</a>
    </div>
  </div>
  