<div class="hero">
  <img
    src="../../../assets/images/hero-img.jpg"
    alt="Image of a desktop"
    class="hero-image"
  />
  <div class="hero-content">
    <h1 class="headline">
      {{ "HERO.HEADLINE.ONE" | translate }}<br>
      {{ "HERO.HEADLINE.TWO" | translate }}<br>
      {{ "HERO.HEADLINE.THREE" | translate }}
    </h1>
    <br />
    <p class="subheadline">
      {{ "HERO.SUBHEAD.ONE" | translate }}
      {{ "HERO.SUBHEAD.TWO" | translate }}
      {{ "HERO.SUBHEAD.THREE" | translate }}
    </p>
    <br />
    <a (click)="scrollToElement('contact-form')" class="btn hero-button">{{ "HERO.HERO_BUTTON" | translate }}</a>
  </div>
</div>
