<div class="container" id="contact-form">
    <h2 class="text-center my-5">{{ 'CONTACT.TITLE' | translate }}</h2>

    <form #contactForm="ngForm" class="my-5 d-flex justify-content-center" (ngSubmit)="onSubmit(contactForm)">
        <div class="card custom-radius width-540">
            <div class="card-body  custom-radius-top-leftandright ">
                <p>{{ 'CONTACT.ONE' | translate }}</p>
                <p>{{ 'CONTACT.TWO' | translate }}</p>
                <p>{{ 'CONTACT.THREE' | translate }}</p>
                <p>{{ 'CONTACT.FOUR' | translate }}</p>
                <p>{{ 'CONTACT.FIVE' | translate }}</p>
                <p>{{ 'CONTACT.SIX' | translate }}</p>
                <p>{{ 'CONTACT.SEVEN' | translate }}</p>
                <p>{{ 'CONTACT.EIGHT' | translate }}</p>

            </div>
            <div class="d-block mt-2 mx-3 pb-3">
                <div class="form-group">
                    <label for="name">{{ 'CONTACT.FORM.FULLNAME' | translate }}</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="John Dupont" ngModel>
                </div>
                <div class="form-group my-3">
                    <label for="email">{{ 'CONTACT.FORM.EMAIL' | translate }} <span class="text-danger">*</span></label>
                    <input type="email" name="email" id="email" class="form-control" ngModel placeholder="fullname@example.com" required>
                    <div *ngIf="contactForm.submitted && !contactForm.controls['email']?.valid" class="text-danger">
                        Email is required
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="company">{{ 'CONTACT.FORM.COMPANY' | translate }}</label>
                    <input type="text" id="company" name="company" class="form-control" placeholder="My Company" ngModel>
                </div>
                <div class="form-group mb-3">
                    <label for="phone">{{ 'CONTACT.FORM.PHONE' | translate }}</label>
                    <input type="text" id="phone" name="phone" class="form-control" placeholder="+33 7 00 11 55 88" ngModel>
                </div>
                <div class="form-group mb-3">
                    <label for="subject">{{ 'CONTACT.FORM.SUBJECT' | translate }} <span class="text-danger">*</span></label>
                    <input type="text" id="subject" name="subject" class="form-control" ngModel placeholder="How can you help me get more clients?" required>
                    <div *ngIf="contactForm.submitted && !contactForm.controls['subject']?.valid" class="text-danger">
                    Subject is required.
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="message">{{ 'CONTACT.FORM.MESSAGE' | translate }} <span class="text-danger">*</span></label>
                    <textarea id="message" name="message" class="form-control" rows="5" ngModel placeholder="Explain what you want to gain from working with us" required></textarea>
                    <div *ngIf="contactForm.submitted && !contactForm.controls['message']?.valid" class="text-danger">
                    Message is required.
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3 w-100">{{ 'CONTACT.FORM.SUBMIT' | translate }}</button>
            </div>
        </div>
    </form>
</div>