$gray-color: #f0f0f0;
$white-color: #fff;
$blue-color: #4169e1;
$rounded-3:0.5rem;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  ------------------------  */
.text-holder{
    padding: 35px 30px;
    background: $gray-color;
}
.body-class{
  display: flex;
  margin: 45px 0px;
  padding: 0 10px;
  background: $white-color;
  align-items: center;
  justify-content: center;
}
::selection{
  color: $white-color;
  background: $blue-color;
}
.wrapper{
  width: 900px;
  background: $white-color;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.wrapper header{
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid $gray-color;
}
.wrapper form{
  margin: 35px 30px;
}
.wrapper form.disabled{
  pointer-events: none;
  opacity: 0.7;
}
form .dbl-field{
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}
.dbl-field .field{
  height: 50px;
  display: flex;
  position: relative;
  width: calc(100% / 2 - 13px);
}
.wrapper form i{
  position: absolute;
  top: 50%;
  left: 18px;
  color: #ccc;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea,
form .field select{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  &:not(:placeholder-shown) + i {
    color: $blue-color; // color when the input is filled
  }
  &:not(::-ms-value) + i{
    color: $blue-color; // color when the input is filled
  }
}
.field input::placeholder,
.message textarea::placeholder{
  color: #ccc;
}
.field input:focus,
.message textarea:focus ,
.field select:focus{
  border: 2px solid $blue-color !important;
}
.field {
  position: relative;
  width: 100%;

  select {
    appearance: none;  // Removes default arrow for custom styling
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $white-color;
    color: #ccc;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 1rem;

    &:focus,
    &:active {
      color: #000;
      outline: none;
      border-color: $blue-color;  // Customize focus border color
    }

    /* Custom arrow */
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath d="M7 10l5 5 5-5H7z" fill="%23888888"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
  }
  .custom-dropdown-options{
    border-radius: 5px 0 0 5px !important;   
    border-right:0px !important; 
    width: 40% !important;
  }
  .custom_phone_class_input {
    width: 60% !important;
    border-radius:  0 5px 5px 0  !important;
    border-left:0px !important; 
    padding: 0 18px 0 5px !important;
  }

  i {
    color: #ccc;
    &.active-icon {
      color: $blue-color !important;
    }
  }
}

.field input:focus ~ i,
.message textarea:focus ~ i{
  color: $blue-color;
}
form .message{
  position: relative;
}
form .message i{
  top: 30px;
  font-size: 20px;
}
form .message textarea{
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 15px 20px 0 48px;
}
.error-message {
  color: red;
  font-size: 0.875rem; // Adjust size as needed
  margin-top: 5px;
  position: absolute;
  bottom: -24px;
  left: 5px;
}

form .message textarea::-webkit-scrollbar{
  width: 0px;
}
.message textarea:focus{
  padding-top: 14px;
}
form .button-area{
  margin: 25px 0;
  display: flex;
  align-items: center;
}
.button-area button{
  color: $white-color;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  padding-right: 20px;
  background: $blue-color;
  transition: all 0.3s ease;
  img{
    width: 50px;
    height: 50px;
    color: $white-color;
  }
}
.button-area button:hover{
  background: darken($blue-color, 15%);
}
.button-area span{
  font-size: 17px;
  margin-left: 30px;
  display: none;
}
.spinner-border {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

@media (min-width: 1640px){
  .wrapper{
    width: 80%;
  }
  .wrapper form{
    width: 100%;
  }
  .container-custom{
    width: 100%;
    display: flex;
  }
}

@media (max-width: 600px){
  .wrapper header{
    text-align: center;
  }
  .wrapper form{
    margin: 35px 20px;
  }
  form .dbl-field{
    flex-direction: column;
    margin-bottom: 0px;
  }
  form .dbl-field .field{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
  }
  form .message textarea{
    resize: none;
  }
  form .button-area{
    margin-top: 20px;
    flex-direction: column;
  }
  .button-area button{
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
  }
  .button-area span{
    margin: 20px 0 0;
    text-align: center;
  }
}
/* ------------- FLAGS STYLE -----------  */