$gray-color: #f0f0f0;
$rounded-3:0.5rem;

.custom-radius{
    border-radius: $rounded-3;
}
.custom-radius-top-leftandright{
    border-radius: $rounded-3 $rounded-3 0 0;
}
.width-540{
    width: 680px;
}
.card-body{
    background-color: $gray-color;
}

h2 {
    font-weight: 700;
}

label {
    font-weight: 600;
}

.btn {
    font-weight: 700;
}

.alert {
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }
  
  .bi-exclamation-triangle-fill {
    font-size: 1.2rem;
  }
  