<div class="head">
  <p class="head-text mt-5">{{ "OFFER.HEAD.TEXT_ONE" | translate }}</p>
  <p class="head-text"><br />{{ "OFFER.HEAD.TEXT_TWO" | translate }}</p>
  <p class="head-text"><br />{{ "OFFER.HEAD.TEXT_THREE" | translate }}</p>
  <p class="head-text mb-5"><br />{{ "OFFER.HEAD.TEXT_FOUR" | translate }}</p>
</div>

<div class="offer text-center">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#4169E1" fill-opacity="1" d="M0,160L40,149.3C80,139,160,117,240,138.7C320,160,400,224,480,245.3C560,267,640,245,720,218.7C800,192,880,160,960,149.3C1040,139,1120,149,1200,176C1280,203,1360,245,1400,266.7L1440,288L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path></svg> 
    <h1>{{ "OFFER.TITLE" | translate }}</h1>

  <div class="container">
    <br /><br />
    <div class="card offer-card">
      <div class="card-img-holder">
        <img
          class="card-img-top"
          src="../../../assets/hero-img.jpg"
          alt="Card image cap"
        />
      </div>
      <div class="card-body">
        <div>
          <h3 class="card-title">{{ "OFFER.CARDS.ONE.TITLE" | translate }}</h3>
          <p class="card-text">{{ "OFFER.CARDS.ONE.TEXT" | translate }}</p>
        </div>
      </div>
    </div>
    <div class="card offer-card">
      <div class="card-img-holder">
        <img
          class="card-img-top"
          src="../../../assets/hero-img.jpg"
          alt="Card image cap"
        />
      </div>
      <div class="card-body">
        <div>
          <h3 class="card-title">{{ "OFFER.CARDS.TWO.TITLE" | translate }}</h3>
          <p class="card-text">{{ "OFFER.CARDS.TWO.TEXT" | translate }}</p>
        </div>
      </div>
    </div>
    <div class="card offer-card">
      <div class="card-img-holder">
        <img
          class="card-img-top"
          src="../../../assets/hero-img.jpg"
          alt="Card image cap"
        />
      </div>
      <div class="card-body">
        <div>
          <h3 class="card-title">
            {{ "OFFER.CARDS.THREE.TITLE" | translate }}
          </h3>
          <p class="card-text">{{ "OFFER.CARDS.THREE.TEXT" | translate }}</p>
        </div>
      </div>
    </div>
    <div class="card offer-card">
      <div class="card-img-holder">
        <img
          class="card-img-top"
          src="../../../assets/hero-img.jpg"
          alt="Card image cap"
        />
      </div>
      <div class="card-body">
        <div>
          <h3 class="card-title">
            {{ "OFFER.CARDS.FOUR.TITLE" | translate }}
          </h3>
          <p class="card-text">{{ "OFFER.CARDS.FOUR.TEXT" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
