<div class="head">
  <p class="head-text animated-text"  [class.visible]="isVisible">{{ "OFFER.HEAD.TEXT_ONE" | translate }}</p>
  <p class="head-text animated-text"  [class.visible]="isVisible"><br />{{ "OFFER.HEAD.TEXT_TWO" | translate }}</p>
  <p class="head-text animated-text"  [class.visible]="isVisible"><br />{{ "OFFER.HEAD.TEXT_THREE" | translate }}</p>
  <p class="head-text animated-text"  [class.visible]="isVisible"><br />{{ "OFFER.HEAD.TEXT_FOUR" | translate }}</p>
</div>

<div class="offer text-center">
  <div class="container mt-5">
    <h1 class="p-3 m-0">{{ "OFFER.TITLE" | translate }}</h1>
    <div class="offer-intro">
      <h5>{{ "OFFER.SUBTITLE_ONE" | translate }}</h5>
      <h5>{{ "OFFER.SUBTITLE_TWO" | translate }}</h5> 
      <h5>{{ "OFFER.SUBTITLE_THREE" | translate }}</h5>
      <h5>{{ "OFFER.SUBTITLE_FOUR" | translate }}</h5> 
      <h5>{{ "OFFER.SUBTITLE_FIVE" | translate }}</h5>
      <h5>{{ "OFFER.SUBTITLE_SIX" | translate }}</h5>
    </div>
  </div>
  <div class="container card-container">
    <div class="card offer-card" *ngFor="let card of cards">
      <div class="card-img-holder">
        <img
          class="card-img-top"
          [src]="card.img"
          alt="Card image cap"
        />
      </div>
      <div class="card-body">
        <div>
          <span class="material-symbols-outlined">{{ card.icon }}</span>
          <h3 class="card-title">{{ card.title | translate }}</h3>
          <p class="card-text">{{ card.text | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <cta-button [label]="'OFFER.CTA' | translate" type="button"></cta-button>
</div>
