<div class="head">
    <p class="head-text mt-5">Marketing is important...</p>
    <p class="head-text"><br>…But you have more on your plate than you know what to do with.</p>
    
    <p class="head-text"><br>That's why we're here.</p>
    
    <p class="head-text mb-5"><br>Our job is to help you launch your product or service into the market in the best way possible.</p>
</div>

<div class="offer text-center mt-5">
    <h1>What we offer</h1>

    <div class="container">
        <br><br>
        <div class="card offer-card">
            <img class="card-img-top" src="../../../assets/hero-img.jpg" alt="Card image cap">
            <div class="card-body">
                <div>
                    <h3 class="card-title">
                       More free time</h3>
                    <p class="card-text">Our job is to take all the marketing work off your plate. You won’t have to worry about selling, advertising or creating content anymore.
                    We'll handle all of it for you.
                    </p>   
                </div>   
              
            </div>
          </div>
        <div class="card offer-card">
            <img class="card-img-top" src="../../../assets/hero-img.jpg" alt="Card image cap">
            <div class="card-body">
                <div>
                    <h3 class="card-title">
                      More free time</h3>
                    <p class="card-text">Our job is to take all the marketing work off your plate. You won’t have to worry about selling, advertising or creating content anymore.
                    We'll handle all of it for you.
                    </p>   
                </div>
            </div>
          </div>
        <div class="card offer-card">
            <img class="card-img-top" src="../../../assets/hero-img.jpg" alt="Card image cap">
            <div class="card-body">
                <div>
                    <h3 class="card-title">
                      More free time</h3>
                    <p class="card-text">Our job is to take all the marketing work off your plate. You won’t have to worry about selling, advertising or creating content anymore.
                    We'll handle all of it for you.
                    </p>   
                </div>
            </div>
          </div>
    </div>
</div>